@charset "UTF-8";
/* CSS Document */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}
.card{
    max-height:180px;
    overflow:hidden;
}
@media (min-width: 768px)
.col-sm-5 {
    width: 38.666667%;
}
@media screen and (min-width: 768px)
.carousel-caption {
    right: 5%;
    left: 5px;
    padding-bottom: 30px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -140px;
    left: 15%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
}

img.logo {
    min-width: 20%;
    margin-left: 5px;
}

.navbar-inverse {
    background-color: #C54A3D;
    border-color: #C54A3D;
}
.img-circle {
    border-radius: 50%;
}
img.imgNewsAside {
    width: 120%;
    height: auto;
    margin-left: -30px;
    margin-top: 25px;
}

h1.extraFull {
    font-size: 4.4em;
    margin: 0px;
}

#forecast-container{ top:30px; }